/* Inicio estilos generales */
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  font-size: 20px;
}

html {
  overflow-x: hidden;
  font-family: "Trebuchet MS", "Lucida Sans", sans-serif;
}
ul,
ol {
  list-style: none;
}
/* Fin estilos generales */
/* Inicio estilos Header */
.header {
  color: #3e0a0a;
  background-color: #ffff;
  padding: 0.5rem 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}
.logo-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation ul {
  margin: 0%;
  padding: 0%;
  list-style: none;
}
.navigation ul li {
  display: inline-block;
  padding: 20px;
}
.navigation ul li a {
  color: #3e0a0a;
  font-size: 1rem;
  font-weight: 500;
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.4s linear;
  border-radius: 5px;
}
.navigation ul li a:hover {
  background-color: burlywood;
}
.logo {
  padding: 0.5em;
  width: 70px;
  display: flex;
}
/* Fin estilos Header */
/* Inicio estilos Formulario */
h1 {
  font-size: 25px;
  color: #3e0a0a;
  text-align: center;
  line-height: 5;
}

h2 {
  font-weight: 600;
  font-size: 20px;
  color: #3e0a0a;
  text-align: center;
  line-height: 1;
  margin-block-start: 4em;
  margin-block-end: 4em;
}

h3 {
  font-size: 22px;
  font-weight: 800;
  margin: 50px;
}

.formulario {
  background-color: antiquewhite;
  color: #3e0a0a;
  text-align: center;
  padding: 20px 15px;
}

.contact_form {
  width: 460px;
  height: auto;
  margin: 80px auto;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: ghostwhite;
}

input {
  background-color: antiquewhite;
  width: 408px;
  height: 19px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #cd0d0d;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 15px;
}

textarea {
  background-color: antiquewhite;
  width: 405px;
  height: 150px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #cd0d0d;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 15px;
}

label {
  display: block;
  float: center;
}

button {
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  background-color: #cd0d0d;
  border-color: #cd0d0d;
  border-style: solid;
  border-radius: 10px;
  width: 420px;
  cursor: pointer;
}

button p {
  color: #fff;
}

span {
  color: #cd0d0d;
}
/* Fin de estilos Formulario */
/* Inicio estilos footer */
.footer {
  text-align: center;
  padding: 25px 15px;
  color: #f5f0ed;
  width: 1250px;
  background-color: #241d1b;
  min-height: 80px;
}
/* Fin de estilos footer */
