/*-- INICIO ESTILOS GENERALES-- */
* {
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
    font-size: 20px;
  }
  
  html {
    overflow-x: hidden;
    font-family: "Abyssinica SIL", sans-serif;
  }
  ul,
  ol {
    list-style: none;
  }
  #menu a {
    color: #3e0a0a;
    font-size: 13px;
    font-weight: bold;
  }
  /*-- FIN ESTILOS GENERALES-- */
  /*-- INICIO ESTILOS INDEX-- */
  .title_container {
    margin-left: 30px;
    margin-top: 80px;
  }
  
  #Bienvenidos {
    font-family: "Abyssinica SIL", sans-serif;
    font-style: normal;
    font-size: 2rem;
    font-weight: 800;
    color: #3e0a0a;
    background-color: antiquewhite;
    background-image: linear-gradient(
      329.39deg,
      #3e0a0a -10.96%,
      rgba(83, 41, 28, 0.42) 103.96%
    );
  }
  /*-- FIN ESTILOS INDEX-- */
/*-- INICIO ESTILOS LOCALES-- */
.main {
    background-color: antiquewhite;
    background-size: cover;
  }
  .locales {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 15px;
    background-color: antiquewhite;
  }
  .locales_title {
    font-weight: 600;
    color: #3e0a0a;
    display: block;
    padding: 2px 15px;
    text-align: center;
  }
  .locales_paragraph {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    color: #3e0a0a;
  }
  .locales-link {
    color: coral;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .locales img {
    width: 350px;
    height: 250px;
    margin: 20px;
    padding: 5px;
    display: block;
    object-fit: cover;
    margin: auto;
  }
  
  h3 {
    font-size: 22px;
    font-weight: 800;
    margin: 50px;
  }
  /*-- FIN ESTILOS LOCALES-- */
  @media (min-width: 768px) {
    /*-- INICIO ESTILOS LOCALES-- */
    .locales {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: antiquewhite;
    }
  
    .locales-link {
      color: coral;
      font-weight: 500;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 30px;
      margin-top: 30px;
    }
    .locales img:hover {
      width: 150px;
      height: 120px;
      transform: translate3d(over);
      transition: all 5s;
    }
  
    .h3 {
      font-size: 22px;
      font-weight: 800;
      margin: 50px;
    }
    /*-- FIN ESTILOS LOCALES-- */
  }
  @media (min-width: 992px) {
    /*-- INICIO ESTILOS LOCALES-- */
    .locales {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background-color: antiquewhite;
      padding-top: 30px;
    }
    .locales_title {
      font-weight: 600;
      color: #3e0a0a;
      display: block;
      padding: 20px 15px;
      text-align: center;
      padding-top: 30px;
    }
    .locales_paragraph {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px 15px;
    }
    .locales-link {
      color: coral;
      font-weight: 500;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 30px;
      margin-top: 30px;
    }
  
    h3 {
      font-size: 22px;
      font-weight: 800;
      margin: 50px;
    }
    /*-- FIN ESTILOS LOCALES-- */
  }
/*-- INICIO ESTILOS PRODUCTOS-- */
.productos {
    margin-top: 10px;
  }
  .container {
    font-size: 15px;
    
  }
  
  #productos_container_title {
    
    font-size: 1.5em;
    margin-block-start: 2em;
    margin-block-end: 2em;
    margin-inline-start: 0;
    margin-inline-end: 0px;
    font-weight: bold;
    text-align: center;
    background-image: linear-gradient(
      329.39deg,
      #3e0a0a -10.96%,
      rgba(83, 41, 28, 0.42) 103.96%
    );
    background-color: antiquewhite;
    color: #fbfbfb;
    text-align: left;
  }
  
  .productos_cards_title {
    text-align: start;
    color: #3e0a0a;
  }
  
  #boton{
    background-color:burlywood;
    color: #3e0a0a;
    border-color: #3e0a0a;
  }
  #productos_container-cards_card01 img{
    width: 180px;
    height: 180px;
    border-radius: 100%;
    border: 10px solid transparent;
    background-color: antiquewhite;
    border-radius: 30px;
    margin-left: 10px;
    
  }
  #productos_container-cards_card02 img{
    border-radius: 100%;
    border: 10px solid transparent;
    background-color: antiquewhite;
    border-radius: 30px;
    margin-left: 10px;
  }
  #productos_container-cards_card03 img{
    width: 180px;
    height: 180px;
    border-radius: 100%;
    border: 10px solid transparent;
    background-color: antiquewhite;
    border-radius: 30px;
    margin-left: 10px;
  }
  #productos_container-cards_card04 img{
    width: 180px;
    height: 180px;
    border-radius: 100%;
    border: 10px solid transparent;
    background-color: antiquewhite;
    border-radius: 30px;
    margin-left: 10px;
  }
  #productos_container-cards_card05 img{ 
    width: 180px;
    height: 180px;
    border-radius: 100%;
    border: 10px solid transparent;
    background-color: antiquewhite;
    border-radius: 30px;
    margin-left: 10px;
  }
  #productos_container-cards_card06 img{
    width: 180px;
    height: 180px;
    border-radius: 100%;
    border: 10px solid transparent;
    background-color: antiquewhite;
    border-radius: 30px;
    margin-left: 10px;
  }
  #productos_container-cards_card07 img{
    width: 180px;
    height: 180px;
    border-radius: 100%;
    border: 10px solid transparent;
    background-color: antiquewhite;
    border-radius: 30px;
    margin-left: 10px;
  }
  #productos_container-cards_card08 img{
    width: 180px;
    height: 180px;
    border-radius: 100%;
    border: 10px solid transparent;
    background-color: antiquewhite;
    border-radius: 30px;
    margin-left: 10px;
  }
  #productos_container-cards_card09 img{
    width: 180px;
    height: 180px;
    border-radius: 100%;
    border: 10px solid transparent;
    background-color: antiquewhite;
    border-radius: 30px;
    margin-left: 10px;
  }
  #productos_container-cards_card10 img{
    width: 180px;
    height: 180px;
    border-radius: 100%;
    border: 10px solid transparent;
    background-color: antiquewhite;
    border-radius: 30px;
    margin-left: 10px;
  }
  #productos_container-cards_card11 img{
    width: 180px;
    height: 180px;
    border-radius: 100%;
    border: 10px solid transparent;
    background-color: antiquewhite;
    border-radius: 30px;
    margin-left: 10px;
  }
  #productos_container-cards_card12 img{
    width: 180px;
    height: 180px;
    border-radius: 100%;
    border: 10px solid transparent;
    background-color: antiquewhite;
    border-radius: 30px;
    margin-left: 10px;
  }
  
  h1 {
    font-size: 25px;
    color: #3e0a0a;
    text-align: center;
    line-height: 5;
  
  }
  /*-- FIN ESTILOS PRODUCTOS-- */
/*-- INICIO ESTILOS SOBRE NOSOTROS-- */

h3 {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin: 50px;
  }
  .sobre_nosotros_main {
    padding: 3px;
  }
  
  .bloque1 {
    background-image: linear-gradient(
      329.39deg,
      #3e0a0a -10.96%,
      rgba(83, 41, 28, 0.42) 103.96%
    );
    background-color: antiquewhite;
    color: #fbfbfb;
    text-align: left;
  }
  
  .bloque1 p {
    max-width: 300px;
    margin: 0px auto;
    text-align: center;
  }
  .bloque2 {
    background-color: antiquewhite;
  }
  .sobre_nosotros_img {
    width: 100px;
    justify-self: center;
  }
  /*-- FIN ESTILOS SOBRE NOSOTROS-- */
  @media (min-width: 768px) {
    /*-- INICIO ESTILOS SOBRE NOSOTROS-- */
    h3 {
      font-size: 22px;
      font-weight: 800;
  
      text-align: center;
    }
  
    .sobre_nosotros_main {
      overflow: hidden;
      justify-self: center;
      margin-top: 15px;
    }
    .bloque1 {
      background-image: linear-gradient(
        329.39deg,
        #3e0a0a -10.96%,
        rgba(83, 41, 28, 0.42) 103.96%
      );
      color: #fbfbfb;
      text-align: center;
    }
  
    .bloque1 p {
      max-width: 300px;
      margin: 0 auto;
      text-align: center;
      padding: 20px;
    }
    .bloque2 {
      display: flex;
      justify-content: center;
      background-color: antiquewhite;
    }
    .sobre_nosotros_img {
      width: 500px;
      justify-self: center;
    }
    /*-- FIN ESTILOS SOBRE NOSOTROS-- */
  }
  @media (min-width: 992px) {
    /*-- INICIO ESTILOS SOBRE NOSOTROS-- */
    h3 {
      font-size: 22px;
      font-weight: 800;
      text-align: center;
    }
  
    .sobre_nosotros_main {
      overflow: hidden;
      justify-self: center;
      margin-top: 30px;
    }
  
    .sobre_nosotros_img {
      width: 500px;
      justify-self: center;
    }
    /*-- FIN ESTILOS SOBRE NOSOTROS-- */
  }  
  /* Inicio estilos Formulario */
h1 {
    font-size: 25px;
    color: #3e0a0a;
    text-align: center;
    line-height: 5;
  }
  
  h2 {
    font-weight: 600;
    font-size: 20px;
    color: #3e0a0a;
    text-align: center;
    line-height: 1;
    margin-block-start: 4em;
    margin-block-end: 4em;
  }
  
  h3 {
    font-size: 22px;
    font-weight: 800;
    margin: 50px;
  }
  
  .formulario {
    background-color: antiquewhite;
    color: #3e0a0a;
    text-align: center;
    padding: 20px 15px;
  }
  
  .contact_form {
    width: 460px;
    height: auto;
    margin: 80px auto;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: ghostwhite;
  }
  
  input {
    background-color: antiquewhite;
    width: 408px;
    height: 19px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #cd0d0d;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 15px;
  }
  
  textarea {
    background-color: antiquewhite;
    width: 405px;
    height: 150px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #cd0d0d;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    padding-top: 15px;
  }
  
  label {
    display: block;
    float: center;
  }
  
  button {
    height: 45px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 20px;
    margin-top: 10px;
    text-transform: uppercase;
    background-color: #cd0d0d;
    border-color: #cd0d0d;
    border-style: solid;
    border-radius: 10px;
    width: 420px;
    cursor: pointer;
  }
  
  button p {
    color: #fff;
  }
  
  span {
    color: #cd0d0d;
  }
  /* Fin de estilos Formulario */
  
  /*-- INICIO ESTILOS FOOTER-- */
.footer {
    text-align: center;
    padding: 28px 15px;
    color: #f5f0ed;
    float: left;
    width: 97.7%;
    background-color: #241d1b;
    min-height: 105px;
  }
  /*-- FIN ESTILOS FOOTER-- */
      
      