
@mixin reset-pm {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  @mixin telefono {
      @media (min-width:$telefono) {
          @content;
      }
      
  }
  
  @mixin tablet {
      @media (min-width:$tablet) {
          @content;
      }
      
  }
  @mixin desktop {
      @media (min-width:$desktop) {
          @content;
      }
      
  }
 
  
  

