
.container-form {
  margin-bottom: 20px;
  background-image: url(../img/contactobg3.jpeg);
  background-image: no-repeat;
  background-size: cover;
  background-attachment:fixed;
  background-position:center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -moz-background-size:cover;
  padding-left: 20px;

  &--text {
    color: $primary;
    font-size: 30px;
    font-weight: 600;
    margin-top: 90px;
    text-align: left;
  }
}
