/* Inicio estilos Formulario */
h1 {
    font-size: 25px;
    color: #3e0a0a;
    text-align: center;
    line-height: 5;
  }
  
  h2 {
    font-weight: 600;
    font-size: 20px;
    color: #3e0a0a;
    text-align: center;
    line-height: 1;
    margin-block-start: 4em;
    margin-block-end: 4em;
  }
  
  h3 {
    font-size: 22px;
    font-weight: 800;
    margin: 50px;
  }
  
  .formulario {
    background-color: antiquewhite;
    color: #3e0a0a;
    text-align: center;
    padding: 20px 15px;
  }
  
  .contact_form {
    width: 460px;
    height: auto;
    margin: 80px auto;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: ghostwhite;
  }
  
  input {
    background-color: antiquewhite;
    width: 408px;
    height: 19px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #cd0d0d;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 15px;
  }
  
  textarea {
    background-color: antiquewhite;
    width: 405px;
    height: 150px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #cd0d0d;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    padding-top: 15px;
  }
  
  label {
    display: block;
    float: center;
  }
  
  button {
    height: 45px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 20px;
    margin-top: 10px;
    text-transform: uppercase;
    background-color: #cd0d0d;
    border-color: #cd0d0d;
    border-style: solid;
    border-radius: 10px;
    width: 420px;
    cursor: pointer;
  }
  
  button p {
    color: #fff;
  }
  
  span {
    color: #cd0d0d;
  }
  /* Fin de estilos Formulario */
  