// header

.main-header {
  width: 100%;
  min-height: 100vh;
  height: 600px;
  top: 0;
  left: 0;
  background: #f4bd76; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffd194,
    #d1913c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
      to right,
      hsla(34, 100%, 79%, 0.593),
      hsla(34, 62%, 53%, 0.602)
    ),
    url(../img/backgroundindex.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: contain;
  background-attachment: fixed;
  position: relative;
  background-image: no-repeat;
  @media (min-width: 992px) {
    background-size: cover;
  }
}


.container-header {
  padding-top: 50px;
	padding-bottom: 20px;
  margin-bottom: 30px;
  margin-top: 50px;
  &--title {
    font-size: 45px;
    font-weight: 700;
    color: $green;
    font-family: "Pacifico";
    padding: 30px auto;
   
  &--subtitle {
    font-size: 30px;
    font-weight: 600;
    color: $green;
    text-align: justify;
  }
}
@media (min-width: 375px) {
  height: 80%;
}
}
.cta {
  padding: 20px 30px;
  display: inline-block;
  text-decoration: none;
  background-color: $green;
  color: #fff;
  font-weight: 700;
  box-shadow: $box-shadow;
  border-radius: 6px;
}
.wave {
  position: absolute;
  bottom: 0;
  width: 100%;
}


.container-web-page{
	padding-top: 50px;
	padding-bottom: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
  &--title {
    font-size: 30px;
    font-weight: 300;
    color: $green;
    text-align: center;
    font-family: "Pacifico";
  }
  @media (min-width: 375px) {
    height: 80%;
}
}
/* estilos cards*/
.container-cards{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  align-items: center;
  max-width: 1000px;
  overflow: hidden;

.card-product{
	width: 300px;
	height: auto;
	margin: 15px;
	position: relative;
	border-radius: 10px;
	color:$primary;
}
.card-product-img,
.card-product-body{
	position: relative;
	width: 298px;
}
.card-product-img{
	height: 400px;
	overflow: hidden;
	border-radius: 10px 10px 0 0;
	margin: 0;
	padding: 0;
}
.card-product-img img{
	width: 100%;
	height: calc(100% - 1px);
}
.card-product-body{
	border-radius: 0 0 10px 10px;
	height: 250px;
}
.card-product-price{
	font-size: 20px;
	color:$primary;
}
.card-product-content{
	height: 200px;
	padding: 20px 10px 0 10px;
	overflow: hidden;
  color:$primary
}
.card-product-content:hover{
	overflow: auto;
}
.card-product-options{
	height: 20px;
}
}
