.locales-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 80px;
  margin-left: 20px;
  margin-right: 20px;
  &--title {
    color: $green;
    font-size: 40px;
    text-align: center;
    font-weight: 800;
    margin-top: 20px;
    margin-bottom: 40px;
    padding-left: 0;
    padding-right: 0;
    font-family: "Pacifico";
  }
}
.locales-card {
  text-decoration: none;
  color: $primary;
  text-decoration: none;
  margin-bottom: 40px;
  margin-top: 40px;
  h2 {
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    color: $white;
    background-color: $green;
    margin-bottom: 100px;
    margin-right: 50px;
    margin-left: 50px;
  }
  p {
    font-size: 25px;
    text-align: center;
    font-weight: 700;
    margin-top: -80px;
    margin-bottom: 100px;
    margin-right: 50px;
    margin-left: 50px;
    color: $primary;
  }
  @media (min-width: 375px) {
    padding-left: 25px;
    padding-right: 25px;
  }
}
.img-rounded {
  border-radius: 10px;
  margin-bottom: 40px;
}
