/*-- INICIO ESTILOS LOCALES-- */
.main {
    background-color: antiquewhite;
    background-size: cover;
  }
  .locales {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 15px;
    background-color: antiquewhite;
  }
  .locales_title {
    font-weight: 600;
    color: #3e0a0a;
    display: block;
    padding: 2px 15px;
    text-align: center;
  }
  .locales_paragraph {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    color: #3e0a0a;
  }
  .locales-link {
    color: coral;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .locales img {
    width: 500px;
    height: 250px;
    margin: 20px;
    padding: 5px;
    display: block;
    object-fit: cover;
    margin: auto;
  }
  
  h3 {
    font-size: 22px;
    font-weight: 800;
    margin: 50px;
  }
  /*-- FIN ESTILOS LOCALES-- */
  @media (min-width: 768px) {
    /*-- INICIO ESTILOS LOCALES-- */
    .locales {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: antiquewhite;
    }
  
    .locales-link {
      color: coral;
      font-weight: 500;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 30px;
      margin-top: 30px;
    }
  
    .h3 {
      font-size: 22px;
      font-weight: 800;
      margin: 50px;
    }
    /*-- FIN ESTILOS LOCALES-- */
  }
  @media (min-width: 992px) {
    /*-- INICIO ESTILOS LOCALES-- */
    .container{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background-color: antiquewhite;
      padding-top: 30px;
    }
    .locales_title {
      font-weight: 600;
      color: #3e0a0a;
      display: block;
      padding: 20px 15px;
      text-align: center;
      padding-top: 30px;
    }
    .locales_paragraph {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px 15px;
    }
    .locales-link {
      color: coral;
      font-weight: 500;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 30px;
      margin-top: 30px;
    }
  
    h3 {
      font-size: 22px;
      font-weight: 800;
      margin: 50px;
    }
    /*-- FIN ESTILOS LOCALES-- */
  }