//Productos
.container-menu {
  padding-top: 40px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  &--title {
    margin-bottom: 40px;
    margin-top: 30px;
    font-size: 35px;
    font-weight: 600;
    color: $green;
    text-align: center;
    font-family: "Pacifico";
  }
  @media (min-width: 375px) {
    height: 80%;
  }
}
.container-cards {
  width: 100%;
  padding: 30px 0;
  overflow: hidden;
  background: $white;
  border-radius: 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  color: $primary;
  margin-bottom: 0px;
  margin-top: 20px;
}
.card-product {
  margin: 15px;
  border-radius: 10px;
  color: $primary;
  img {
    position: relative;
    height: 400px;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
    margin: 0;
    padding: 0;
  }
  body {
    width: 298px;
    border-radius: 0 0 10px 10px;
    height: 250px;
  }
  price {
    font-size: 20px;
    color: $primary;
  }
  content {
    height: 200px;
    padding: 20px 10px 0 10px;
    overflow: hidden;
    color: $primary;
  }
}
.card-product-options {
  height: 40px;
  button {
    background-color: $green;
    color: $white;
    font-weight: bold;
    font-size: 15px;
  }
}
