/*-- INICIO ESTILOS PRODUCTOS-- */
.productos {
    margin-top: 10px;
  }
  .container {
    font-size: 15px;
    
  }
  
  #productos_container_title {
    
    font-size: 1.5em;
    margin-block-start: 2em;
    margin-block-end: 2em;
    margin-inline-start: 0;
    margin-inline-end: 0px;
    font-weight: bold;
    text-align: center;
    background-image: linear-gradient(
      329.39deg,
      #3e0a0a -10.96%,
      rgba(83, 41, 28, 0.42) 103.96%
    );
    background-color: antiquewhite;
    color: #fbfbfb;
    text-align: left;
  }
  
  .productos_cards_title {
    text-align: start;
    color: #3e0a0a;
  }
  
  #boton{
    background-color:burlywood;
    color: #3e0a0a;
    border-color: #3e0a0a;
  }
  #productos_container-cards_card01 img{
    width: 180px;
    height: 180px;
    border-radius: 100%;
    border: 10px solid transparent;
    background-color: antiquewhite;
    border-radius: 30px;
    margin-left: 10px;
    
  }
  #productos_container-cards_card02 img{
    border-radius: 100%;
    border: 10px solid transparent;
    background-color: antiquewhite;
    border-radius: 30px;
    margin-left: 10px;
  }
  #productos_container-cards_card03 img{
    width: 180px;
    height: 180px;
    border-radius: 100%;
    border: 10px solid transparent;
    background-color: antiquewhite;
    border-radius: 30px;
    margin-left: 10px;
  }
  #productos_container-cards_card04 img{
    width: 180px;
    height: 180px;
    border-radius: 100%;
    border: 10px solid transparent;
    background-color: antiquewhite;
    border-radius: 30px;
    margin-left: 10px;
  }
  #productos_container-cards_card05 img{ 
    width: 180px;
    height: 180px;
    border-radius: 100%;
    border: 10px solid transparent;
    background-color: antiquewhite;
    border-radius: 30px;
    margin-left: 10px;
  }
  #productos_container-cards_card06 img{
    width: 180px;
    height: 180px;
    border-radius: 100%;
    border: 10px solid transparent;
    background-color: antiquewhite;
    border-radius: 30px;
    margin-left: 10px;
  }
  #productos_container-cards_card07 img{
    width: 180px;
    height: 180px;
    border-radius: 100%;
    border: 10px solid transparent;
    background-color: antiquewhite;
    border-radius: 30px;
    margin-left: 10px;
  }
  #productos_container-cards_card08 img{
    width: 180px;
    height: 180px;
    border-radius: 100%;
    border: 10px solid transparent;
    background-color: antiquewhite;
    border-radius: 30px;
    margin-left: 10px;
  }
  #productos_container-cards_card09 img{
    width: 180px;
    height: 180px;
    border-radius: 100%;
    border: 10px solid transparent;
    background-color: antiquewhite;
    border-radius: 30px;
    margin-left: 10px;
  }
  #productos_container-cards_card10 img{
    width: 180px;
    height: 180px;
    border-radius: 100%;
    border: 10px solid transparent;
    background-color: antiquewhite;
    border-radius: 30px;
    margin-left: 10px;
  }
  #productos_container-cards_card11 img{
    width: 180px;
    height: 180px;
    border-radius: 100%;
    border: 10px solid transparent;
    background-color: antiquewhite;
    border-radius: 30px;
    margin-left: 10px;
  }
  #productos_container-cards_card12 img{
    width: 180px;
    height: 180px;
    border-radius: 100%;
    border: 10px solid transparent;
    background-color: antiquewhite;
    border-radius: 30px;
    margin-left: 10px;
  }
  
  h1 {
    font-size: 25px;
    color: #3e0a0a;
    text-align: center;
    line-height: 5;
  
  }
  /*-- FIN ESTILOS PRODUCTOS-- */