//Productos
.container-productos {
  margin-bottom: 40px;
  padding: 60px 0;
  width: 100%;
  max-width: 1500px;
  &--title {
    font-size: 35px;
    text-align: center;
    font-weight: 800;
    padding-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: black;
    background-size: cover;
    padding-left: 0;
    padding-right: 0;
    color: $light;
  }
  p {
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #000;
  }
}

.tz-gallery {
  padding: 60px;
  background: linear-gradient(
      to right,
      hsla(34, 70%, 69%, 0.593),
      hsla(34, 62%, 73%, 0.602)
    ),
    url(../img/bgmenuproductos.jpeg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: contain;
  background-attachment: fixed;
  position: relative;
  background-image: no-repeat;
  @media (min-width: 992px) {
    background-size: cover;
  }
}
.card {
  background: $light;
  text-decoration: none;
  color: $primary;
  text-decoration: none;
  margin-bottom: 20px;
  margin-top: 20px;
  span h2 {
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    color: $primary;
  }
}
.row match-to-row {
  max-width: 100%;
  margin: 0 auto;
}
.lightbox img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  margin-bottom: 20px;
  transition: 0.2s ease-in-out;
  border-radius: 4px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  position: relative;
  top: 1em;
  left: 0;
  right: 0;
  bottom: 1em;
  &:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
  }
}
