/*-- INICIO ESTILOS FOOTER-- */
.footer {
    text-align: center;
    padding: 28px 15px;
    color: #f5f0ed;
    float: center;
    width: 100%;
    background-color: #241d1b;
    min-height: 100px;
  }