/*-- INICIO ESTILOS FOOTER-- */
.footer-container{
  background-color: $green;
}
.display-2 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2;
  color:$white;
  text-align: center;
}
.group-2{
color:$white;
text-align: center;
}
.fa-ul {
  height: 50px;
  text-align: center;
  text-decoration: none;
}
