.navbar {

  font-size: 15px;
  background-color:	$nav-link-color;
  font-family: 'Roboto';
  font-style: oblique;
  li{
    display: inline;
    
    a {
      color:$secondary;
      text-decoration: none;
      padding: $nav-link-padding-x;
          
      &:hover {
      text-decoration:solid;
      }
    }
  }
  }
  .navbar-toggler-icon {
    width: 1.5rem;
    height: 1.5rem;
  }